<!DOCTYPE html>
<html lang="en">

    {% include "catda_template/head.html" %}
    <body  class="hold-transition skin-blue sidebar-mini">
        <div class="site-wrap">

    {% include "catda_template/header.html" %}            

            {% block content %}




            
            {% endblock content %}
            {% load render_partial %}
                {% render_partial 'apps.catda.views.prime_partial_footer' %}

            

        </div>
        
        {% include 'catda_template/scripts.html' %}
</body>
</html>